project_name: STANet
seed: 42
device: cuda

dataset:
  file_name: graph_data.json
  time_step: 7
  train_ratio: 0.8

model:
  embedding_dim: 32
  POIEncoder:
    num_poi_categories: 3
    activate: true
  RegeonEncoder:
    activate: true
  TemporalEncoder:
    embedding_dim: 16
  DynamicEncoder:
    embedding_dim: 17
    delta_max: 24
  SnapshotGlobalAttn:
    nhead: 4
  TemporalStateModule:
    GRU_configs:
      num_layers: 2
      dropout: 0.3

loss:
  lambda_mag: 1.0

train:
  output_dir: output/STANet
  per_device_train_batch_size: 30
  per_device_eval_batch_size: 500
  num_train_epochs: 600
  remove_unused_columns: false
  save_strategy: epoch
  save_total_limit: 1
  optim: adamw_torch
  learning_rate: 5e-4
  weight_decay: 0.01
  warmup_ratio: 0.1
  logging_steps: 500
  eval_strategy: epoch
  load_best_model_at_end: true
  metric_for_best_model: loss
  greater_is_better: false

callbacks:
  early_stopping:
    min_epochs: 20
    early_stopping_patience: 3
    early_stopping_threshold: 0.0
